body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #cfebff;
}

.quem-somos {
    background-color: #808080;
}

.margin {
    padding-top: 100px ;
    padding-bottom: 100px ;
}

.parceiros {
    background-color:#6186ff;
}